<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Edit Password</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        rel="stylesheet"/>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/5af5eb3f80.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light sticky-top" style="justify-content: center">
  <a class="navbar-brand col-sm-8" href="#">
    <img alt="" class="d-inline-block align-top " height="40"
         src="https://imgur.com/E8b6jdD.png" width="200"/>
  </a>
  <a class="btn btn-outline-secondary shadow bg-body rounded col-sm-2"
     th:href="@{/logout}">Logout</a>
</nav>
<div class="jumbotron jumbotron-fluid">

  <div class="jumbotron jumbotron-fluid container text-center">

    <!--        <p class="error-message"-->
    <!--           th:if="${#fields.hasGlobalErrors()}"-->
    <!--           th:each="error : ${#fields.errors('global')}"-->
    <!--           th:text="${error}">Validation error</p>-->
    <div>
      <div th:if="${error != null}">
        <li th:each="message : ${error.split(',')}">
          <p class="alert alert-danger" role="alert" th:text="${message}"></p>
        </li>
      </div>
      <h1 class="display-4">Edit password</h1>
      <hr class="my-4 ">
      <div class="container text-center table-responsive">

        <!--                <form th:if="${isPasswordDecoded} == false" class="text-center" method="post"-->
        <!--                      th:action="@{/password/edit/__${password.id}__}">-->

        <!--                    <div class="row" style="align-items: center; flex-direction: column">-->
        <!--                        <input class="form-control col-md-5" type="password" name="masterPassword"-->
        <!--                               placeholder="Master Password">-->

        <!--                        <button class="btn btn-success d-block col-md-5" data-bss-hover-animate="pulse" type="submit">-->
        <!--                            Show Password-->
        <!--                        </button>-->

        <!--                    </div>-->
        <!--                </form>-->

        <form class="text-center" method="post" th:action="@{/password/edit/__${password.id}__}"
              th:object="${passwordDTO}">
          <input hidden th:field="*{id}" th:name="id">

          <div class="row" style="align-items: center; flex-direction: column">
            <input class="form-control col-md-5" id="service" placeholder="Service"
                   th:name="service" th:value="${password.service}"
                   type="text">
            <input class="form-control col-md-5" id="savedPassword" placeholder="Password to save"
                   th:field="*{savedPassword}" type="password">
            <input class="form-control col-md-5 autocomplete-currency autocomplete"
                   id="savedPasswordAgain" placeholder="Confirm password to save"
                   th:field="*{savedPasswordAgain}"
                   type="password">
            <input class="form-control col-md-5 autocomplete-currency autocomplete"
                   id="masterPassword" placeholder="Master Password"
                   th:field="*{masterPassword}"
                   type="password">
            <button class="btn btn-primary d-block col-md-5" data-bss-hover-animate="pulse"
                    type="submit">
              Add product
            </button>

          </div>
        </form>
        <a class="btn btn-outline-secondary shadow bg-body rounded"
           th:href="@{/home}">Back to passwords view</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>