<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/5af5eb3f80.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light sticky-top" style="justify-content: center">
    <a class="navbar-brand" href="#">
        <img src="https://imgur.com/E8b6jdD.png" width="200" height="40" class="d-inline-block align-top " alt=""/>
    </a>
</nav>
<div class="jumbotron jumbotron-fluid">

    <div class="jumbotron jumbotron-fluid container text-center">

        <div>
            <div th:if="${error != null}" >
                <li th:each="message : ${error.split(',')}">
                    <p class="alert alert-danger" role="alert" th:text="${message}"></p>
                </li>
            </div>
            <h1 class="display-4">Show password</h1>
            <hr class="my-4 ">
            <div class="container text-center table-responsive">
                <form th:if="${isPasswordDecoded} == false"  class="text-center" method="post"
                      th:action="@{/password/show/__${password.id}__}">

                    <div class="row" style="align-items: center; flex-direction: column">
                        <input class="form-control col-md-5" type="password" name="masterPassword"
                               placeholder="Master Password">

                        <button class="btn btn-success d-block col-md-5" data-bss-hover-animate="pulse" type="submit">
                            Show Password
                        </button>

                    </div>
                </form>

                <table th:if="${isPasswordDecoded}" class="table table-striped table-hover caption-top shadow bg-body rounded"
                       style="width: 100%">
                    <caption>Your password</caption>
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Service</th>
                        <th scope="col">Password</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                    </thead>
                    <tbody>

                    <td class="font-weight-bold text-dark" th:text="${password.service}"></td>
                    <td class="font-weight-bold text-dark" th:text="${password.actualPassword}"></td>
                    <td>
                        <a th:href="@{/password/edit/__${password.id}__}"
                           class="btn btn-info shadow bg-body rounded">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/password/delete/__${password.getId()}__}"
                           class="btn btn-danger shadow bg-body rounded">Delete</a>
                    </td>


                    </tbody>

                </table>
                <a th:href="@{/home}"
                   class="btn btn-outline-secondary shadow bg-body rounded">Back to passwords view</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>