<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/5af5eb3f80.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light sticky-top" style="justify-content: center">
    <a class="navbar-brand" href="#">
        <img src="https://imgur.com/E8b6jdD.png" width="200" height="40" class="d-inline-block align-top " alt=""/>
    </a>
</nav>
<div class="jumbotron jumbotron-fluid">

    <div class="jumbotron jumbotron-fluid container text-center">

        <div>
            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                <p th:text="${error}">Error wrong input values</p>
            </div>
            <h1 class="display-4">Add password</h1>
            <hr class="my-4 ">
            <div class="container text-center table-responsive">
                <form class="text-center" method="post" th:action="@{/password/add}" th:object="${passwordDTO}">
                    <input hidden th:field="*{id}">

                    <div class="row" style="align-items: center; flex-direction: column">
                        <input th:field="*{service}" class="form-control col-md-5" type="text" id="service"
                               placeholder="Service">
                        <input th:field="*{savedPassword}" class="form-control col-md-5" type="password"
                               id="savedPassword" placeholder="Password to save">
                        <input th:field="*{savedPasswordAgain}"
                               class="form-control col-md-5" type="password"
                               id="savedPasswordAgain"
                               placeholder="Confirm password to save">
                        <input th:field="*{masterPassword}"
                               class="form-control col-md-5" type="password"
                               id="masterPassword"
                               placeholder="Master Password">
                        <button class="btn btn-primary d-block col-md-5" data-bss-hover-animate="pulse" type="submit">
                            Add product
                        </button>

                    </div>
                </form>
                <a th:href="@{/home}"
                   class="btn btn-outline-secondary shadow bg-body rounded">Back to passwords view</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>